.left-20 {
  left: 20px;
}
.right-20 {
  right: 20px;
}
.top-20 {
  top: 20px;
}
.bottom-20 {
  bottom: 20px;
}
.text-red {
  color: red;
}
.text-yellow {
  color: yellow;
}
.text-green {
  color: green;
}
.text-blue {
  color: blue;
}
.text-pink {
  color: pink;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.position-absolute {
  position: relative;
}