/* 尽量不使用通配符，聚合需要的标签一起初始化 */
/* * {    
  margin: 0;
  padding: 0;
} */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-size: 125%;
}
body {
  background-color: #eff0f4;
}
form {
  font: 0.5px;
}
a:link,
a:hover,
a:active,
a:visited,
a:focus {
  color: #fff;
  text-decoration: none;
}

/*** loginbar float + absolute **/
.loginbar-fa {
  position: fixed;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #5fc0cd;
  color: #fff;
  height: 1.3rem;
  line-height: 1.3rem;
  font-size: 0.7rem;
  z-index: 9999;
}
.loginbar-fa .loginbar-leftlink {
  float: left;
  margin-left: 0.55rem;
}
.loginbar-fa .loginbar-rightlink {
  position: absolute;
  top: 0.5rem;
  right: 0.55rem;
}
.loginbar-fa .loginbar-title {
  margin: 0 2rem;
  font-size: 0.9rem;
  font-family: 'SimHei', 'STHeiti', sans-serif;
  font-weight: 500; 
  text-align: center;
}
/*** loginbar-flex ***/
.loginbar-flex {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5fc0cd;
  color: #fff;
  padding: 0.65rem 0;
  font-size: 0.7rem;  
}
.loginbar-flex .loginbar-leftlink {
  margin-left: 0.55rem;
}
.loginbar-flex .loginbar-rightlink {
  margin-right: 0.55rem;
}
.loginbar-flex .loginbar-title {
  display: inline;
  font-size: 0.9rem;
  font-family: 'SimHei', 'STHeiti', sans-serif;
  font-weight: 500; 
}
/*** loginbar-absolute **/
.loginbar-absolute {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 0;
  background-color: #5fc0cd;
  color: #fff;
  text-align: center;
  height: 1.3rem;
  line-height: 1.3rem;
  z-index: 9999;
  font-size: 0.7rem;  
}
.loginbar-absolute .loginbar-leftlink {
  position: absolute;
  left: 0.55rem;
}
.loginbar-absolute .loginbar-rightlink {
  position: absolute;
  right: 0.55rem;
}
.loginbar-absolute .loginbar-title {
  display: inline;
  font-family: 'SimHei', 'STHeiti', sans-serif;
  font-size: 0.9rem;
  font-weight: 500; 
}


main {
  position: absolute;
  width: 100%;
  top: 2.8rem;
  overflow-y: hidden;
}
.content {
  height: auto;
}
/*** form ***/
.form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  margin-bottom: 0.5rem;
}
.row-label {
  padding: 0.5rem 0;
  line-height: 1.5rem;
  height: 1.5rem;
}
.row-label > img {
  padding: 0.25rem 1.1rem;
  width: 0.65rem;
  height: 1rem;
  border-right: 1px solid #eaedee;
}
.form-row > input {
  flex: 1;
  padding: 0.25rem 1.1rem;
  color: #444;
  border: 0;
  outline: none;
}
.form-row .cross {
  width: 0.9rem;
  height: 0.9rem;
  margin-right: 0.5rem;
}
 /* Webkit浏览器支持(非标准) https://developer.mozilla.org/zh-CN/docs/Web/CSS/::-webkit-input-placeholder */
.form-row input::-webkit-input-placeholder {
	color: #ccc;
}
/* Chrome:57+已支持去前缀 https://www.chromestatus.com/feature/6715780926275584 */
.form-row input::placeholder {
  color: #ccc;
}
/* IE10+支持  https://developer.mozilla.org/zh-CN/docs/Web/CSS/:-ms-input-placeholder */
.form-row input:-ms-input-placeholder {
  color: #ccc;
}
 /* Firefox 4-18 */
.form-row input:-moz-placeholder {
  color: #ccc;
}
 /* 很奇怪， FireFox60实测不支持 */
 /* Firefox 19+(非标准) https://developer.mozilla.org/zh-CN/docs/Web/CSS/::-moz-placeholder*/
.form-row input::-moz-placeholder {
  color: #ccc; 
}
/* 实验中特性 https://developer.mozilla.org/en-US/docs/Web/CSS/:placeholder-shown */
.form-row input:placeholder-shown { 
  color: #ccc; 
  /* border: 2px solid red; */   /* border有效并且只有在Firefox有效*/
}

.btn-submit {
  width: 100%;
  padding: 0.8rem 0;
  background-color: #5fc0cd;
  color: #fff;
  font-size: 0.8rem;
  border: 0;
  outline: none;
}
/*** forgetpw ***/
.forgetpw {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.forgetpw > a {
  font-size: 0.5rem;
  margin: 0.5rem 0.5rem;
}
.forgetpw >a:link,
.forgetpw >a:hover,
.forgetpw >a:active,
.forgetpw >a:visited,
.forgetpw >a:focus {
  color: #5fc0cd;
  text-decoration: underline;
}