* {
    margin: 0;
    padding: 0;
}
.block {
    padding-top: 30%;
    margin-top: 3%;
    border-radius: 10%;
    background-color: orange;
}

/** container-flex **/
.container-flex > .wrap {
    display: flex;
    flex-direction: row;
}
.container-flex > .wrap > .block {
    flex: 1;
}
.container-flex > .wrap > .block:first-child,
.container-flex > .wrap > .block:last-child {
    margin: 4% 4% 0 4%;
}
.container-flex > .wrap:last-child > .block {
    margin: 4% 0;
}
.container-flex > .wrap:last-child > .block:first-child,
.container-flex > .wrap:last-child > .block:last-child {
    margin: 4%;
}

/** container-flex2 **/
.container-flex2 > .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container-flex2 > .wrap > .block {
    width: 30%;
    /* margin-left: 4%; */
}