html {
  font-size: 16px;
  font-size: 62.5%;
}
body {
  background-color:#68cdd6;
  color: white;
}

.topbar {
  margin: 1rem 0.5rem;
}
.container {
  margin: 0 14%;
}
.title {
  text-align: center;
  /* margin-left: -30px; */
  margin-top: 6rem;
}
.content {
  margin: 7.5rem 0;
  font-size: 1.2rem;
  line-height: 2rem;
}
.contact {
  padding-top: 4rem;
}
.btn {
  display: inline-block;
  text-align: center;
}
.btn p {
  font-size: 1.2rem;
}
.btn_contacts {
  float: right;
}
